name: Tests
on:
  pull_request:
  push:
    branches: ['master']

env:
  NODE_VERSION: 16

jobs:
  test:
    name: Run tests
    runs-on: ubuntu-latest
    if: |
      !startsWith(github.event.pull_request.title, '[skip-ci]') &&
      !startsWith(github.event.pull_request.title, '[skip-package-ci]')
    steps:
    - name: Checkout the latest code
      uses: actions/checkout@v4

    - name: Setup node
      uses: actions/setup-node@v4
      with:
        node-version: ${{ env.NODE_VERSION }}

    # - name: Install Python setuptools
    #   run: python3 -m pip install setuptools

    - name: Install Dependencies
      run: npm ci

    - name: Run tests
      run: npm test
